<%- include("header"); -%>

<h1>Contact Page</h1>
<form class="" action="/contact" method="post">

  <div class="">
    <input type="text" name="list" value="">
    <button type="submit" name="button">submit</button>
  </div>

</form>


<%- include("footer") -%>
