<%- include("header"); -%>



<div class= "title">
  <h1>Home Page</h1>
  <img src="images/fir.png" alt="">
  <h3 class="heading">This page is specially made to demstrate the use of ejs and node js</h3>

</div>

<div class="testimonail">

  <h2>this is a very useful  website with greater functionality</h2>
  <p>I was glad to use this website for a very long time.enjoyed the services offered by this website at a very lower cost and greater sense of good delivery</p>
  <img  src="images/boy.png" alt="" width="200px;">
  <em>Jack Buer</em>

</div>



<%- include("footer") -%>
